Repository Varying-Vagrant-Vagrants/VVV, pull requests merged in 2018-10, with the labels that each got.

#1662 switch from Node v6 to Node v10
  CHANGELOG.md
  config/apt-source-append.list
Labels: enhancement, provisioner:core

#1664 only provision hosts for active sites
  CHANGELOG.md
  Vagrantfile
Labels: bug, provisioner:vagrantfile, provisioner:vvv-custom.yml

#1650 A better starting configuration
  vvv-config.yml
Labels: enhancement

#1640 Bump the vagrant minimum version
  Vagrantfile
Labels: provisioner:vagrantfile

#1665 v2.4
  CHANGELOG.md
  README.md
  version
Labels: enhancement

#1667 clean up the utility nginx folder so that stale configs get cleaned up
  provision/provision.sh
Labels: bug

#1593 allow symlinks
  Vagrantfile
Labels: Windows, bug, provisioner:vagrantfile
