Repository Varying-Vagrant-Vagrants/VVV, pull requests merged in 2018-05, with the labels that each got.

#1474 switch wp cli local.php to use .test
  config/wp-cli/local.php
Labels: bug

#1483 Removes the legacy TLS certificate generation
  provision/provision.sh
Labels: enhancement

#1489 Run composer as the vagrant users
  provision/provision.sh
Labels: bug, enhancement, provisioner:core

#1492 require vagrant 2.1 and bump the version number to 2.2.1
  Vagrantfile
Labels: enhancement

#1499 fixes the installation of a nonexistent package
  provision/provision.sh
Labels: bug

#1495 changes the mysql logs to use /srv/log instead of /var/log
  config/mysql-config/my.cnf
  config/nginx-config/nginx.conf
Labels: enhancement

#1493 Run scripts from vagrant mount
  Vagrantfile
  config/homebin/vagrant_destroy
  config/homebin/vagrant_halt
  config/homebin/vagrant_suspend
  config/homebin/vagrant_up
  provision/provision.sh
Labels: provisioner:core

#1494 simplify the npm commands, closes #485
  provision/provision.sh
Labels: enhancement, provisioner:core

#1501 Revert "Removes the legacy TLS certificate generation"
  provision/provision.sh
Labels: bug, provisioner:core

#1502 Autocopy vvv-config.yml to vvv-custom.yml
  Vagrantfile
Labels: enhancement, provisioner:vagrantfile

#1503 Fixes!
  Vagrantfile
  config/homebin/xdebug_on
  config/init/vvv-start.conf
  config/mysql-config/my.cnf
  config/nginx-config/nginx.conf
  config/nginx-config/php7.2-upstream.conf
  config/php-config/php7.2-custom.ini
  config/php-config/php7.2-fpm.conf
  config/php-config/php7.2-www.conf
  config/php-config/xdebug.ini
  provision/provision-utility-source.sh
  provision/provision.sh
Labels: bug

#1505 Revert "simplify the npm commands, closes #485"
  provision/provision.sh
Labels: bug

#1512 Revert "Fixes a warning, closes #1507"
  provision/provision.sh
Labels: bug

#1518 2.2.1 release
  .gitignore
  README.md
  version
Labels: enhancement

#1520 Sets onerror triggers
  Vagrantfile
Labels: provisioner:vagrantfile

#1524 Use the version file in the splash screen
  Vagrantfile
  version
Labels: enhancement

#1525 require the hosts updater plugin in the vagrant file
  Vagrantfile
Labels: provisioner:vagrantfile
