Repository Varying-Vagrant-Vagrants/VVV, pull requests merged in 2018-09, with the labels that each got.

#1570 Added git lfs support
  config/apt-keys/git-lfs.key
  config/apt-source-append.list
  provision/provision.sh
Labels: enhancement

#1625 Reduce nvm and Go footprint
  provision/provision.sh
Labels: enhancement

#1635 Site Provisioner Improvements
  CHANGELOG.md
  provision/provision-site.sh
Labels: provisioner:core

#1636 changes the owner of the log folder from ubuntu to vagrant
  CHANGELOG.md
  Vagrantfile
Labels: enhancement, provisioner:vagrantfile

#1633 Added a pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement

#1619 Fixes to HyperV
  Vagrantfile
Labels: bug, enhancement, provisioner:vagrantfile

#1638 bumped the version number to 2.3.0 in prep for a release
  CHANGELOG.md
  version
Labels: enhancement

#1639 Update master to v2.3.0
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  Vagrantfile
  config/apt-keys/git-lfs.key
  config/apt-keys/keyserver_ubuntu.key
  config/apt-keys/mariadb.key
  config/apt-keys/nginx_signing.key
  config/apt-keys/nodesource.gpg.key
  config/apt-source-append.list
  config/bash_profile
  config/init/mailcatcher.conf
  config/init/vvv-start.conf
  config/php-config/mailcatcher.ini
  config/php-config/mailhog.ini
  config/update-motd.d/00-vvv-bash-splash
  provision/provision-site.sh
  provision/provision.sh
  version
  vvv-config.yml
Labels: enhancement
