Repository Varying-Vagrant-Vagrants/VVV, pull requests merged in 2018-07, with the labels that each got.

#1576 adds a slightly nicer default prompt that adds colours
  config/bash_profile
Labels: enhancement

#1534 Switch to vvv-base/ubuntu1404 for virtualbox
  Vagrantfile
Labels: needs:testing, provisioner:vagrantfile

#1581 copies the mailhog ini for PHP in the default PHP setup script
  provision/provision.sh
Labels: bug, provisioner:core

#1582 skips running a site provisioner if the site has been skipped in the config file
  Vagrantfile
Labels: enhancement, provisioner:vagrantfile

#1584 fix mailhog on startup
  provision/provision.sh
Labels: bug

#1589 Use PPA Launchpad for network detection
  provision/provision.sh
Labels: enhancement
