Repository Varying-Vagrant-Vagrants/VVV, pull requests merged in 2019-08, with the labels that each got.

#1916 Grunt changes
  provision/provision.sh
Labels: bug

#1918 Changed db_share_type checks and defaults
  Vagrantfile
Labels: bug, enhancement, provisioner:vagrantfile

#1920 Updates issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/problems-provisioning-windows.md
  .github/ISSUE_TEMPLATE/problems-provisioning.md
Labels: documentation, enhancement, help wanted, needs:feedback

#1919 Simplify default config
  vvv-config.yml
Labels: enhancement, provisioner:vvv-custom.yml

#1923 YAML validation, fix #1745
  Vagrantfile
Labels: enhancement, provisioner:vagrantfile

#1929 GitHub Workflows
  .github/labeler.yml
  .github/main.workflow
Labels: GitHub

#1927 Disable Mysql binary logging
  config/mysql-config/vvv-core.cnf
Labels: mariadb
