Repository Varying-Vagrant-Vagrants/VVV, pull requests merged in 2019-09, with the labels that each got.

#1939 Update `wordpress-meta-environment`
  vvv-config.yml
Labels: enhancement, provisioner:vvv-custom.yml

#1942 Update Vagrantfile
  Vagrantfile
Labels: provisioner:vagrantfile

#1948 ensure my.cnf is readable by vagrant user
  provision/provision.sh
Labels: bug
