Repository Varying-Vagrant-Vagrants/VVV, pull requests merged in 2019-10, with the labels that each got.

#1966 Add coloring to the site provisioner
  provision/provision-site.sh
Labels: enhancement

#1981 removed /var/log/ for Microsoft Hyper-V, no need
  CHANGELOG.md
  Vagrantfile
Labels: Windows, hyperv

#1980 Mounted folder fixes for Parallels, and shared DB support for Parallels and VMWare
  CHANGELOG.md
  Vagrantfile
Labels: Parallels, VMWare, provisioner:vagrantfile

#1970 attempt to pipe all site provisioner output to the log files
  CHANGELOG.md
  provision/provision-site.sh
Labels: enhancement

#1985 3.2.0
  .github/main.workflow
  .gitignore
  CHANGELOG.md
  Vagrantfile
  config/apt-keys/mariadb.key
  config/apt-keys/varying-vagrant-vagrants_keyserver_ubuntu.key
  config/default-config.yml
  config/homebin/vagrant_destroy
  config/homebin/vagrant_halt
  config/homebin/vagrant_provision
  config/homebin/vagrant_suspend
  config/homebin/vagrant_up
  config/homebin/xdebug_off
  config/homebin/xdebug_on
  config/memcached-config/memcached.conf
  config/mysql-config/vvv-core.cnf
  config/nginx-config/nginx.conf
  config/nginx-config/sites/local-nginx-example.conf-sample
  config/php-config/mailhog.ini
  config/php-config/php7.2-fpm.conf
  config/php-config/php7.2-www.conf
  config/subversion-servers
  config/vimrc
  config/wp-cli/quiet.php
  database/data/README.md
  database/data/readme.txt
  database/sql/import-sql.sh
  provision/provision-network-functions.sh
  provision/provision-site.sh
  provision/provision-utility-source.sh
  provision/provision-utility.sh
  provision/provision.sh
  version
Labels: enhancement
