Repository Varying-Vagrant-Vagrants/VVV, pull requests merged in 2019-05, with the labels that each got.

#1771 PHP packages temp fix
  CHANGELOG.md
  config/apt-keys/ondrej_keyserver_ubuntu.key
  config/apt-keys/varying-vagrant-vagrants_keyserver_ubuntu.key
  config/apt-source-append.list
  provision/provision.sh
Labels: enhancement, help wanted, provisioner:core

#1710 Update VM image to Ubuntu 18.04 LTS Bionic
  CHANGELOG.md
  README.md
  Vagrantfile
  config/apt-keys/mariadb.key
  config/apt-source-append.list
  config/mysql-config/vvv-core.cnf
  provision/provision-utility-source.sh
  provision/provision.sh
  version
Labels: enhancement, help wanted, provisioner:core, provisioner:vagrantfile

#1784 Tomjn/remove/vagrantshare
  .gitignore
  CHANGELOG.md
  Vagrantfile
  config/bash_profile
  config/homebin/vagrant_destroy
  config/homebin/vagrant_halt
  config/homebin/vagrant_provision
  config/homebin/vagrant_suspend
  config/homebin/vagrant_up
  config/ssh_known_hosts
  provision/provision-dashboard.sh
  provision/provision-site.sh
  provision/provision-utility-source.sh
  provision/provision-utility.sh
  provision/provision.sh
  vvv-config.yml
Labels: needs:testing, provisioner:vagrantfile

#1800 allow composer to run as root
  provision/provision.sh
Labels: enhancement

#1805 add an option to vvv-custom.yml to turn off db shares
  Vagrantfile
Labels: enhancement, needs:feedback, needs:testing, provisioner:vagrantfile

#1806 Disable the vbguest plugin and bump minimum vagrant version to 2.2.4
  Vagrantfile
Labels: bug

#1807 use mapped subfolders for logs
  CHANGELOG.md
  Vagrantfile
  config/memcached-config/memcached.conf
  config/php-config/php7.2-custom.ini
  config/php-config/php7.2-fpm.conf
  config/php-config/xdebug.ini
Labels: provisioner:vagrantfile

#1808 Auto-move db backups folder
  Vagrantfile
  database/sql/backups/readme.txt
Labels: bug

#1811 SQL Import Script Improvements
  CHANGELOG.md
  database/sql/import-sql.sh
Labels: enhancement, needs:feedback, provisioner:core

#1834 DB Share HyperV/Parallels Provider Fixes
  Vagrantfile
Labels: Windows, hyperv, needs:testing, provisioner:vagrantfile
