Repository Varying-Vagrant-Vagrants/VVV, pull requests merged in 2019-01, with the labels that each got.

#1702 updates the git lfs key used by apt
  config/apt-keys/git-lfs.key
Labels: bug

#1694 Force copy files in main provisioner
  provision/provision.sh
Labels: provisioner:core

#1703 Apt-get adjustments
  provision/provision.sh
Labels: bug, enhancement

#1704 Fixing Getting error net::ERR_INCOMPLETE_CHUNKED_ENCODING
  config/nginx-config/nginx-wp-common.conf
Labels: bug

#1706 built mailhog
  Vagrantfile
  provision/provision.sh
Labels: enhancement, provisioner:core

#1705 Optional db backups
  CHANGELOG.md
  config/homebin/db_backup
  database/import-sql.sh
  provision/phpcs/composer.json
  vvv-config.yml
Labels: enhancement, needs:testing, provisioner:core

#1709 Site provisioner optimisations and TLS keys
  CHANGELOG.md
  Vagrantfile
  provision/provision-site.sh
Labels: enhancement, help wanted, needs:testing, provisioner:core

#1711 Support the Tideways subdomain addition to hosts
  CHANGELOG.md
  Vagrantfile
  provision/provision.sh
Labels: enhancement

#1712 Fixes #1669
  CHANGELOG.md
  Vagrantfile
  config/homebin/vagrant_up
Labels: bug

#1719 Move the hostsupdater usage to later in the vagrant file
  Vagrantfile
Labels: bug
