Repository Varying-Vagrant-Vagrants/VVV, pull requests merged in 2021-05, with the labels that each got.

#2442 Update to Ubuntu 20.04
  CHANGELOG.md
  Vagrantfile
Labels: needs:testing

#2461 closes #2459 by wrapping TLS paths in quotes
  CHANGELOG.md
  provision/provision-site.sh
Labels: bug, provisioner:core

#2458 Webp support
  CHANGELOG.md
  provision/core/vvv/provision.sh
Labels: provisioner:core

#2462 Modify/move configs
  CHANGELOG.md
  config/init/vvv-start.conf
  config/nginx-config/sites/local-nginx-example.conf-sample
  provision/core/env/homedir/.bash_aliases
  provision/core/env/homedir/.bash_profile
  provision/core/env/homedir/.subversion/subversion-config
  provision/core/env/homedir/.subversion/subversion-servers
  provision/core/env/homedir/.vimrc
  provision/core/env/motd/00-vvv-bash-splash
  provision/core/env/provision.sh
  provision/core/env/ssh/ssh_known_hosts
  provision/core/env/ssh/sshd_config
  provision/core/git/apt-keys/git-lfs.key
  provision/core/git/provision.sh
  provision/core/mariadb/apt-keys/mariadb.key
  provision/core/mariadb/config/my.cnf
  provision/core/mariadb/config/root-my.cnf
  provision/core/mariadb/config/vvv-core.cnf
  provision/core/mariadb/provision.sh
  provision/core/memcached/config/memcached.conf
  provision/core/memcached/provision.sh
  provision/core/nginx/apt-keys/nginx_signing.key
  provision/core/nginx/config/nginx-wp-common.conf
  provision/core/nginx/config/nginx.conf
  provision/core/nginx/config/sites/default.conf
  provision/core/nginx/provision.sh
  provision/core/nodejs/apt-keys/nodesource.gpg.key
  provision/core/nodejs/provision.sh
  provision/core/php/apt-keys/ondrej_keyserver_ubuntu.key
  provision/core/php/provision.sh
  provision/core/phpcs/composer.json
  provision/core/phpcs/provision.sh
  provision/core/postfix/provision.sh
  provision/core/vvv/apt-conf-d/99hashmismatch
  provision/core/vvv/apt-keys/varying-vagrant-vagrants_keyserver_ubuntu.key
  provision/core/vvv/provision.sh
  provision/provision.sh
Labels: enhancement, provisioner:core

#2466 Fix host plugin checks on vagrant plugin list
  CHANGELOG.md
  Vagrantfile
Labels: bug

#2465 Add to default-config.yml stuff from #2346
  config/default-config.yml
Labels: enhancement, provisioner:config.yml

#2477 maybe avoid npm symlink issues when updating grunt see #2476
  CHANGELOG.md
  provision/core/grunt/provision.sh
Labels: type:bug

#2472 Force 64bit in vagrantfile under virtualbox
  CHANGELOG.md
  Vagrantfile
Labels: needs:testing, provisioner:vagrantfile
