Repository Varying-Vagrant-Vagrants/VVV, pull requests merged in 2021-03, with the labels that each got.

#2378 Change "global" phpcs provisioning to be more modern.
  CHANGELOG.md
  provision/core/phpcs/provision.sh
  provision/phpcs/composer.json
Labels: provisioner:core

#2383 Splash screen extra info
  Vagrantfile
Labels: provisioner:vagrantfile

#2381 Modify/better php debug switcher
  CHANGELOG.md
  config/homebin/switch_php_debugmod
Labels: bug, enhancement, provisioner:core

#2331 Add/site composer
  CHANGELOG.md
  provision/provision-site.sh
Labels: enhancement, feature, provisioner:core

#2371 Upgrade default PHP to v7.4
  CHANGELOG.md
  config/homebin/vvv_restore_php_default
  config/nginx-config/nginx.conf
  config/nginx-config/sites/default.conf
  config/php-config/php-custom.ini
  config/php-config/php-fpm.conf
  config/php-config/php-www.conf
  config/php-config/upstream.conf
  provision/core/php/provision.sh
Labels: enhancement, provisioner:core

#2375 Prepare v3.6 release
  .github/ISSUE_TEMPLATE/config.yml
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  CHANGELOG.md
  Vagrantfile
  config/homebin/db_backup
  config/homebin/switch_php_debugmod
  config/homebin/vagrant
  config/homebin/vagrant_provision
  config/homebin/vagrant_up
  config/homebin/vvv_restore_php_default
  config/homebin/xdebug_on
  config/nginx-config/nginx.conf
  config/nginx-config/sites/default.conf
  config/php-config/php-custom.ini
  config/php-config/php-fpm.conf
  config/php-config/php-www.conf
  config/php-config/upstream.conf
  config/php-config/xdebug.ini
  database/sequelpro.spf
  database/sql/import-sql.sh
  provision/core/composer/provision.sh
  provision/core/deprecated.sh
  provision/core/env.sh
  provision/core/git/provision.sh
  provision/core/grunt/provision.sh
  provision/core/mailhog/provision.sh
  provision/core/mariadb/provision.sh
  provision/core/nginx/provision.sh
  provision/core/nodejs/provision.sh
  provision/core/nodejs/sources.list
  provision/core/php/provision.sh
  provision/core/phpcs/provision.sh
  provision/core/postfix/provision.sh
  provision/core/vvv/provision.sh
  provision/core/wp-cli/provision.sh
  provision/phpcs/composer.json
  provision/provision-dashboard.sh
  provision/provision-helpers.sh
  provision/provision-site.sh
  provision/provision-utility-source.sh
  provision/provision-utility.sh
  provision/provision.sh
  provision/provisioners.sh
  provision/tests/run-provisioners.sh
  version
  www/default/phpinfo/index.php
  www/default/xdebuginfo/index.php
Labels: help wanted

#2405 Upgrade to composer v2
  CHANGELOG.md
  provision/core/composer/provision.sh
Labels: enhancement

#2403 Upgrade Mariadb v10 5 and Improve Apt sourcehandling
  CHANGELOG.md
  provision/core/git/provision.sh
  provision/core/git/sources-ubuntu-bionic.list
  provision/core/git/sources-ubuntu-focal.list
  provision/core/mariadb/provision.sh
  provision/core/mariadb/sources-ubuntu-bionic.list
  provision/core/mariadb/sources-ubuntu-focal.list
  provision/core/mariadb/sources.list
  provision/core/nginx/provision.sh
  provision/core/nginx/sources-ubuntu-bionic.list
  provision/core/nginx/sources-ubuntu-focal.list
  provision/core/nodejs/provision.sh
  provision/core/nodejs/sources-ubuntu-bionic.list
  provision/core/nodejs/sources-ubuntu-focal.list
  provision/core/php/provision.sh
  provision/core/php/sources-ubuntu-bionic.list
  provision/core/php/sources-ubuntu-focal.list
Labels: bug, enhancement, provisioner:core

#2412 Upgrade to Python3 pip3/setuptools
  CHANGELOG.md
  provision/core/vvv/provision.sh
  provision/core/vvv/sources-ubuntu-bionic.list
  provision/core/vvv/sources-ubuntu-focal.list
  provision/provision-helpers.sh
  provision/provision.sh
Labels: enhancement, provisioner:core

#2418 attempt to pin nodesource and ondrej
  CHANGELOG.md
  provision/core/nodejs/nodesource-ppa-pin
  provision/core/nodejs/provision.sh
  provision/core/php/ondrej-ppa-pin
  provision/core/php/provision.sh
Labels: bug, needs:testing, provisioner:core

#2420 Modify/vagrant file provider version
  CHANGELOG.md
  Vagrantfile
Labels: enhancement, provisioner:vagrantfile
