Repository Varying-Vagrant-Vagrants/VVV, pull requests merged in 2021-04, with the labels that each got.

#2429 Better Mailhog download handling
  provision/core/mailhog/provision.sh
Labels: enhancement, provisioner:core

#2415 Switch to a composer.json file.
  CHANGELOG.md
  config/phpcs/composer.json
  provision/core/phpcs/provision.sh
Labels: enhancement

#2431 Add/package status checks
  CHANGELOG.md
  provision/provision-helpers.sh
  provision/provision.sh
Labels: bug, enhancement, needs:testing, provisioner:core

#2441 Add a box for Apple M1 support
  CHANGELOG.md
  Vagrantfile
Labels: enhancement

#2346 Gzip database and exclude
  CHANGELOG.md
  config/homebin/db_backup
  database/sql/import-sql.sh
Labels: needs:testing
