Repository Varying-Vagrant-Vagrants/VVV, pull requests merged in 2021-12, with the labels that each got.

#2345 Add nginx default pages, #1846
  CHANGELOG.md
  provision/core/nginx/config/nginx-wp-common.conf
  provision/core/nginx/config/nginx.conf
  provision/core/nginx/config/sites/default.conf
  provision/core/nginx/default-pages/error.html
  provision/core/nginx/default-pages/index.html
  provision/core/nginx/provision.sh
Labels: type:enhancement, needs:testing, priority:low

#2565 Fixed a typo preventing composer create-project working
  CHANGELOG.md
  provision/provision-site.sh
Labels: type:bug, provisioner:core

#2563 Certificate file checking
  CHANGELOG.md
  provision/provision-site.sh
Labels: type:bug
