Repository Varying-Vagrant-Vagrants/VVV, pull requests merged in 2022-09, with the labels that each got.

#2633 Better switch php debug mod compatibility with docker images
  config/homebin/switch_php_debugmod
Labels: type:enhancement, provisioner:core, priority:high, provider:docker

#2583 feat(php): Set PHP version per site
  CHANGELOG.md
  config/default-config.yml
  config/homebin/vvv_restore_php_default
  provision/provision-site.sh
  provision/provisioners.sh
Labels: type:enhancement, provisioner:core

#2635 Fix #2634 - adding full path to vvv_restore_php_default in provision-site.sh
  provision/provision-site.sh
Labels: type:bug
